body {
    margin:10px;
}
h1, h2, h3, h4, h5, h6, a {
    margin:0; padding:0;
}
.index {
    margin:0 auto;
    max-width:500px;
}
.index input[type="text"]
.index-form input[type="button"] {
    height:30px;
    width:100px;
    background:#fff;
}